<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>381309803382-qs9b98ei6qku925t2u5elhvnqf12uujo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381309803382-qs9b98ei6qku925t2u5elhvnqf12uujo</string>
	<key>API_KEY</key>
	<string>AIzaSyCskBobwEt7RL-HBfVOKE9VG8V3fsx8uIc</string>
	<key>GCM_SENDER_ID</key>
	<string>381309803382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Lance-Owide.calndarAppPlayground</string>
	<key>PROJECT_ID</key>
	<string>calendarplayground-3c791</string>
	<key>STORAGE_BUCKET</key>
	<string>calendarplayground-3c791.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381309803382:ios:3f90f0218c1e651d</string>
	<key>DATABASE_URL</key>
	<string>https://calendarplayground-3c791.firebaseio.com</string>
</dict>
</plist>